<br><hr><hr>
<center><i><h2>
        Car Candy Collection
</h2></i></center>
<hr>
<ul>
  <li>
    <a href="/vintagecars"> Vintage Car Candy </a></li>
    <li>
    <a href="/moderncars"> Modern Car Candy </a></li>
</ul>

<hr><hr>
