    <h3>
      <i>
         The Koan Klapper
      </i>
    </h3>
  <hr>
  <hr>
    <center>
      <%= @zen %>
    </center>
  <hr>
    <center>
      <img src ="<%= @abstract_image %>">
  <br>
      <a href="https://www.google.com/search?q=<%=@zen%>&oq=<%=@zen%> "target="_blank">Zen Google
      </a>
    </center>

  <hr>
  <br>
  <small>
    <small>
            <a href="/">Return
    </small>
       </small>
            </a>
<!--
/*<style>
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
</style>*/ -->
