<!-- echo box views erb file -->
As a birds : "<%= @text %>"

<%= "Echo echo echo echoes.." if @text.downcase == "echo" %>
<a href="#"> Click Here</a>
<% @arry_name.each do |item| %>
<%= item %>
<% end %>
