<h3><i>Polly Polly bird</i></h3>
<hr>

<!-- <img src="http://images4.alphacoders.com/283/283304.jpg" width='200'> -->
<center><img src="http://www.onlycoloringpages.com/wp-content/uploads/2015/06/Bird_Coloring_Pages_04.jpg" width='250'
</center>
"Type out something worth repeating"
<hr>
<form action="/poly" method="get">
  <input type="text" name="words"><br>
  <input type="submit" value="Parley">
</form>

<!-- <form action="/parrot" method="get">
  <input type="text" name="newords">
  <input type="range" name="text"><br>
  <input type="submit"  value="Second Button!">
</form> -->

<%= @message %>
<br>
<hr>
<hr>
