<hr><hr>
<h3>Enter your ZipCode to generate a Weather Cast</h3>
<hr>

<center>
  <form action='/pantz' method='post'>
    <input type='text' name='zipcode' placeholde="5 digit code">
    <input type='submit' value='Zip to Weather It'>
  </form>
</center>
