<hr>
<hr>

<center><h3>Weathered notes of Nature</h3>
<hr><br><br>

<i>The current temperature is : <%= @the_haps %></i></center>
<p> <hr>
The top is : <%= @top  %>
<hr>
The low is : <%= @low %>
<hr>
