<hr><hr>
    <h3><i><center>The Box Shop</center></h3>
<hr>
<small><small> Runing out of stock items in Green </i></small></small>
<br>
<%= @cookie_ingredients.inspect %>
<ul>
<li>  </li>
</ul>

<ul>
  <li> <a href="/"> Return </a></li>
</ul>
<hr><hr>
